@charset "UTF-8";

html {
  background: url(ws_back.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#wrapper {
  width: 800px;
  margin: 0 auto;
}

h1{
  color: brown;
}

p{
  height: 20px;
  font-weight: 8px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  max-width: 800px;
}

p1{
  width: 4px;
  height: 4px;
}

img {
  position: relative;
  width: 70%;
  height: 70%;
  left: 10%
}
