@charset "UTF-8";

html {
  background: url(ws_back.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#wrapper {
  width: 800px;
  margin: 0 auto;
}

h1{
  color: brown;
}

p1{
  width: 4px;
  height: 4px;
}

img {
  position: relative;
  width: 70%;
  height: 70%;
  left: 10%
}
